In [1]:
# Load packages
import os
import pandas as pd
import numpy as np

# This line is needed to display plots inline in Jupyter Notebook
%matplotlib inline

# Required for basic python plotting functionality
import matplotlib.pyplot as plt

# Required for formatting dates later in the case
import datetime
import matplotlib.dates as mdates

# Required to display image inline
from IPython.display import Image

# Advanced plotting functionality with seaborn
import seaborn as sns

sns.set(style="whitegrid")  # can set style depending on how you'd like it to look

In [2]:
df = pd.read_csv("total_enrollment_per_race_with_districtcode.csv")

In [3]:
DFass=pd.read_csv('ethnicity_new.csv') #Students by ethnicity data

In [4]:
#DFassall=pd.read_csv('all_assessment.csv') #All students assessment data

In [5]:
DFass

,County Code,District Code,Subgroup ID,Test Id,Total Tested At Entity Level,Total Tested with Scores,CAASPP Reported Enrollment,Students Tested,Total Standard Exceeded,Mean Scale Score,Total Standard Met,Total Standard Nearly Met,Total Standard Not Met,Students with Scores,Total Standard Met and Above
0,1,10017,74,1,105.0,105.0,157.0,41.0,0.0,2419.6,0.0,6.0,35.0,41.0,0.0
1,1,10017,74,2,115.0,115.0,157.0,45.0,0.0,2403.7,0.0,0.0,45.0,45.0,0.0
2,1,10017,76,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,10017,76,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,10017,77,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13212,58,72769,78,2,86.0,86.0,92.0,86.0,6.0,2565.3,16.0,30.0,34.0,86.0,22.0
13213,58,72769,80,1,240.0,240.0,165.0,160.0,26.0,2597.7,64.0,50.0,20.0,160.0,90.0
13214,58,72769,80,2,240.0,240.0,165.0,160.0,4.0,2568.0,46.0,52.0,58.0,160.0,50.0
13215,58,72769,144,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13216,58,72769,144,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=74, value='Black')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=75, value='American Indian/Alaska Native')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=76, value='Asian or Pacific Islander')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=77, value='Filipino')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=78, value='Hispanic')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=79, value='Hawaiian Native/Pacific Islander')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=80, value='White')
DFass['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=144, value='Two or More Races')

In [7]:
#DFassall['Subgroup ID']=DFassall['Subgroup ID'].replace(to_replace=74, value='Black')
#DFassall['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=75, value='American Indian/Alaska Native')
#DFassall['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=76, value='Asian or Pacific Islander')
#DFassall['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=77, value='Filipino')
#DFassall['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=78, value='Hispanic')
#DFassall['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=79, value='Hawaiian Native/Pacific Islander')
#DFassall['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=80, value='White')
#DFassall['Subgroup ID']=DFass['Subgroup ID'].replace(to_replace=144, value='Two or More Races')

In [8]:
df.columns

Index(['Unnamed: 0', 'District Code', 'Agency Name', 'Black', 'Hispanic',
       'White', 'Asian or Pacific Islander', 'American Indian/Alaska Native',
       'Hawaiian Native/Pacific Islander', 'Two or More Races',
       'Total Enrollment', 'Total Revenue', 'Revenue per student'],
      dtype='object')

In [9]:
#Melt the data to have each ethnicity 
DFfinMelt = pd.melt(df, id_vars=['District Code', 'Agency Name', 'Total Enrollment', 'Total Revenue', 'Revenue per student'], 
        value_vars=['Black', 'Hispanic', 'White', 'Asian or Pacific Islander',
       'American Indian/Alaska Native', 'Hawaiian Native/Pacific Islander','Two or More Races'])

In [10]:
#Rename col names to match the DFass
DFfinMelt.columns = ['District Code', 'Agency Name', 'Total Enrollment', 'Total Revenue','Revenue per student', 'Subgroup ID', 'Count Enrollment per ethnicity']

In [11]:
DFfinMelt.head(10)

,District Code,Agency Name,Total Enrollment,Total Revenue,Revenue per student,Subgroup ID,Count Enrollment per ethnicity
0,64212,ABC UNIFIED,20722.0,226251000.0,10918.40,Black,1791.0
1,61630,ACALANES UNION HIGH,5502.0,37710000.0,6853.87,Black,95.0
2,66761,ACKERMAN CHARTER,586.0,4410000.0,7525.60,Black,4.0
3,75309,ACTON-AGUA DULCE UNIFIED,10000.0,29983000.0,2998.30,Black,705.0
4,67587,ADELANTO ELEMENTARY,10272.0,120023000.0,11684.48,Black,2156.0
5,10017,ALAMEDA COUNTY OFFICE OF EDUCATION,2870.0,55795000.0,19440.77,Black,543.0
6,61119,ALAMEDA UNIFIED,11159.0,96642000.0,8660.45,Black,924.0
7,61127,ALBANY CITY UNIFIED,3702.0,58211000.0,15724.20,Black,117.0
8,70599,ALEXANDER VALLEY UNION ELEMENTARY,130.0,1123000.0,8638.46,Black,1.0
9,75713,ALHAMBRA UNIFIED,17071.0,250138000.0,14652.80,Black,112.0

In [12]:
final_ethnicity_merged = pd.merge(DFfinMelt, DFass, how='outer', on=['District Code', 'Subgroup ID'])
final_ethnicity_merged = final_ethnicity_merged.sort_values(by=['District Code'])
final_ethnicity_merged

,District Code,Agency Name,Total Enrollment,Total Revenue,Revenue per student,Subgroup ID,Count Enrollment per ethnicity,County Code,Test Id,Total Tested At Entity Level,Total Tested with Scores,CAASPP Reported Enrollment,Students Tested,Total Standard Exceeded,Mean Scale Score,Total Standard Met,Total Standard Nearly Met,Total Standard Not Met,Students with Scores,Total Standard Met and Above
1799,10017,ALAMEDA COUNTY OFFICE OF EDUCATION,2870.0,55795000.0,19440.77,Hispanic,1581.0,1.0,1.0,75.0,75.0,109.0,27.0,0.0,2464.9,2.0,8.0,17.0,27.0,2.0
11010,10017,ALAMEDA COUNTY OFFICE OF EDUCATION,2870.0,55795000.0,19440.77,Two or More Races,225.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1800,10017,ALAMEDA COUNTY OFFICE OF EDUCATION,2870.0,55795000.0,19440.77,Hispanic,1581.0,1.0,2.0,100.0,100.0,110.0,36.0,0.0,2431.3,0.0,2.0,34.0,36.0,0.0
9401,10017,ALAMEDA COUNTY OFFICE OF EDUCATION,2870.0,55795000.0,19440.77,Hawaiian Native/Pacific Islander,33.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9402,10017,ALAMEDA COUNTY OFFICE OF EDUCATION,2870.0,55795000.0,19440.77,Hawaiian Native/Pacific Islander,33.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5405,77032,SBE - AUDEO CHARTER II,287.0,0.0,0.00,White,89.0,37.0,2.0,190.0,190.0,78.0,73.0,5.0,5098.9,15.0,24.0,29.0,73.0,20.0
12536,77032,SBE - AUDEO CHARTER II,287.0,0.0,0.00,Two or More Races,14.0,37.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1446,77032,SBE - AUDEO CHARTER II,287.0,0.0,0.00,Black,6.0,37.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3402,77032,SBE - AUDEO CHARTER II,287.0,0.0,0.00,Hispanic,173.0,37.0,2.0,336.0,336.0,89.0,86.0,2.0,5016.7,11.0,26.0,47.0,86.0,13.0
1445,77032,SBE - AUDEO CHARTER II,287.0,0.0,0.00,Black,6.0,37.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
final_ethnicity_merged.to_csv('final_merged.csv')