In [1]:
import json
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy
import csv

In [2]:
pwd

'/home/jovyan/work/DS4A_PROJECT/DS4A_team84/organized notebooks'

In [4]:
assessment = pd.read_csv("ethnicity_assessment.csv")
Total_enrollment = pd.read_csv("total_enrollment_per_race_with_districtcode.csv")
Total_enrollment_revenue= pd.read_csv("total_enrollment_per_race_with_districtcode.csv")
Total_enrollment.head()

,Unnamed: 0,District Code,Agency Name,American Indian/Alaska Native,Black,Hispanic,White,Hawaiian Nat./Pacific Isl.,Two or More Races,Asian or Asian/Pacific Islander,Total Enrollment,Total Revenue,Revenue per student
0,0,64212.0,ABC UNIFIED,63.0,1791.0,9425.0,1302.0,158.0,524.0,7459.0,20722.0,226251000.0,10918.40
1,1,61630.0,ACALANES UNION HIGH,9.0,95.0,508.0,3622.0,16.0,402.0,850.0,5502.0,37710000.0,6853.87
2,2,66761.0,ACKERMAN CHARTER,2.0,4.0,74.0,460.0,0.0,37.0,9.0,586.0,4410000.0,7525.60
3,3,75309.0,ACTON-AGUA DULCE UNIFIED,36.0,705.0,3466.0,4199.0,18.0,1040.0,536.0,10000.0,29983000.0,2998.30
4,4,67587.0,ADELANTO ELEMENTARY,35.0,2156.0,6327.0,1010.0,88.0,517.0,139.0,10272.0,120023000.0,11684.48

In [8]:
assessment.head()

,County Code,District Code,Subgroup ID,Test Id,Mean Scale Score,Total Tested At Entity Level,Total Tested with Scores,CAASPP Reported Enrollment,Students Tested,Students with Scores,Total Standard Exceeded,Total Standard Met,Total Standard Met and Above,Total Standard Nearly Met,Total Standard Not Met
0,1,10017,78,2,2431.30,80.0,80.0,51.0,16.0,16.0,0.0,0.0,0.0,1.0,15.0
1,1,10017,78,1,2464.90,60.0,60.0,51.0,12.0,12.0,0.0,1.0,1.0,4.0,7.0
2,1,10017,74,2,2403.70,92.0,92.0,72.0,22.0,22.0,0.0,0.0,0.0,0.0,22.0
3,1,10017,74,1,2419.60,84.0,84.0,72.0,20.0,20.0,0.0,0.0,0.0,3.0,17.0
4,3,10033,80,2,2470.05,595.0,595.0,57.0,53.0,53.0,0.0,7.0,7.0,15.0,31.0

In [9]:
#Converting all the assessment columns from percentage columns to absolute numbers for exceeded, met,met & above, nearly met, not met


#assessment['Total Standard Exceeded'] =(assessment['Students Tested']*assessment['Percentage Standard Exceeded']/100).round(decimals=0)
#assessment['Total Standard Met'] =(assessment['Students Tested']*assessment['Percentage Standard Met']/100).round(decimals=0)
#assessment['Total Standard Met and Above'] =(assessment['Students Tested']*assessment['Percentage Standard Met and Above']/100).round(decimals=0)
#assessment['Total Standard Nearly Met'] =(assessment['Students Tested']*assessment['Percentage Standard Nearly Met']/100).round(decimals=0)
#assessment['Total Standard Not Met'] =(assessment['Students Tested']*assessment['Percentage Standard Not Met']/100).round(decimals=0)
#assessment.head(40)

In [19]:
# I am only getting 902 rows for this group by districts
# Also dropping all the % columns
# Last grouped by district code

#assessment = assessment.drop(columns=['Percentage Standard Exceeded','Percentage Standard Met and Above', 'Percentage Standard Met','Percentage Standard Met and Above','Percentage Standard Nearly Met','Percentage Standard Not Met'])
#assessment.to_csv('assessment_totalstudents.csv')

In [10]:
assessmentbydistrict_df = assessment.groupby(['District Code']).sum()
assessmentbydistrict_df.head()

,County Code,Subgroup ID,Test Id,Mean Scale Score,Total Tested At Entity Level,Total Tested with Scores,CAASPP Reported Enrollment,Students Tested,Students with Scores,Total Standard Exceeded,Total Standard Met,Total Standard Met and Above,Total Standard Nearly Met,Total Standard Not Met
District Code,,,,,,,,,,,,,,
10017,4,304,6,9719.500000,316.0,316.0,246.0,70.0,70.0,0.0,1.0,1.0,8.0,61.0
10033,6,160,3,4961.500000,1197.0,1197.0,114.0,108.0,108.0,2.0,18.0,20.0,29.0,59.0
10041,16,316,6,10033.766667,2135.0,2135.0,180.0,169.0,169.0,10.0,20.0,30.0,54.0,85.0
10058,10,160,3,4968.471429,2604.0,2604.0,402.0,372.0,372.0,42.0,74.0,116.0,116.0,140.0
10074,28,304,6,9543.300000,1206.0,1206.0,158.0,141.0,141.0,0.0,2.0,2.0,10.0,129.0

In [11]:
# Merging the total enrollment data and the assessment data. 
enrolled_and_tested = Total_enrollment_revenue.merge(assessmentbydistrict_df, on='District Code', how='outer')
enrolled_and_tested.columns

Index(['Unnamed: 0', 'District Code', 'Agency Name',
       'American Indian/Alaska Native', 'Black', 'Hispanic', 'White',
       'Hawaiian Nat./Pacific Isl.', 'Two or More Races',
       'Asian or Asian/Pacific Islander', 'Total Enrollment', 'Total Revenue',
       'Revenue per student', 'County Code', 'Subgroup ID', 'Test Id',
       'Mean Scale Score', 'Total Tested At Entity Level',
       'Total Tested with Scores', 'CAASPP Reported Enrollment',
       'Students Tested', 'Students with Scores', 'Total Standard Exceeded',
       'Total Standard Met', 'Total Standard Met and Above',
       'Total Standard Nearly Met', 'Total Standard Not Met'],
      dtype='object')

In [14]:
# I created a new column with Student test % to look at how many of the students enrolled are being tested. I have also sorted on that column

enrolled_and_tested[['District Code','Agency Name', 'Total Enrollment','Students Tested']] 
enrolled_and_tested['Student tested %']=enrolled_and_tested['Students Tested']/enrolled_and_tested['Total Enrollment']*100
enrolled_and_tested[['District Code','Agency Name', 'Total Enrollment','Students Tested','Student tested %']].sort_values(['Student tested %'])

,District Code,Agency Name,Total Enrollment,Students Tested,Student tested %
201,68049.0,DEHESA ELEMENTARY,6314.0,24.0,0.380108
817,10439.0,SANTA CLARA COUNTY OFFICE OF EDUCATION,11043.0,208.0,1.883546
835,65474.0,SAUSALITO MARIN CITY,558.0,11.0,1.971326
5,10017.0,ALAMEDA COUNTY OFFICE OF EDUCATION,2870.0,70.0,2.439024
181,10074.0,CONTRA COSTA COUNTY OFFICE OF EDUCATION,4792.0,141.0,2.942404
374,10140.0,INYO COUNTY OFFICE OF EDUCATION,1946.0,91.0,4.676259
1026,10579.0,YOLO COUNTY OFFICE OF EDUCATION,540.0,27.0,5.000000
518,63628.0,MARICOPA UNIFIED,3972.0,205.0,5.161128
619,71423.0,NUESTRO ELEMENTARY,490.0,26.0,5.306122
517,71407.0,MARCUM-ILLINOIS UNION ELEMENTARY,2415.0,135.0,5.590062
445,63966.0,LAKESIDE UNION ELEMENTARY,6313.0,366.0,5.797561
444,63966.0,LAKESIDE UNION ELEMENTARY,6313.0,366.0,5.797561
393,68163.0,JULIAN UNION ELEMENTARY,4360.0,255.0,5.848624
877,10488.0,SOLANO COUNTY OFFICE OF EDUCATION,317.0,22.0,6.940063
968,10561.0,VENTURA COUNTY OFFICE OF EDUCATION,3079.0,223.0,7.242611
365,10124.0,HUMBOLDT COUNTY OFFICE OF EDUCATION,436.0,40.0,9.174312
291,10108.0,FRESNO COUNTY OFFICE OF EDUCATION,2684.0,254.0,9.463487
81,69112.0,BLOCHMAN UNION ELEMENTARY,1277.0,122.0,9.553641
413,10165.0,KINGS COUNTY OFFICE OF EDUCATION,364.0,35.0,9.615385
793,10397.0,SAN JOAQUIN COUNTY OFFICE OF EDUCATION,4267.0,446.0,10.452308
3,75309.0,ACTON-AGUA DULCE UNIFIED,10000.0,1169.0,11.690000
755,10330.0,RIVERSIDE COUNTY OFFICE OF EDUCATION,8520.0,1037.0,12.171362
902,10504.0,STANISLAUS COUNTY OFFICE OF EDUCATION,2381.0,304.0,12.767745
109,10041.0,BUTTE COUNTY OFFICE OF EDUCATION,1212.0,169.0,13.943894
773,10348.0,SACRAMENTO COUNTY OFFICE OF EDUCATION,2214.0,327.0,14.769648
1002,64204.0,WESTWOOD UNIFIED,346.0,52.0,15.028902
369,10132.0,IMPERIAL COUNTY OFFICE OF EDUCATION,619.0,94.0,15.185784
881,10496.0,SONOMA COUNTY OFFICE OF EDUCATION,429.0,67.0,15.617716
803,10413.0,SAN MATEO COUNTY OFFICE OF EDUCATION,240.0,38.0,15.833333
670,71209.0,PARADISE ELEMENTARY,199.0,32.0,16.080402
...,...,...,...,...,...
915,65896.0,SURPRISE VALLEY JOINT UNIFIED,116.0,NaN,NaN
917,10512.0,SUTTER COUNTY OFFICE OF EDUCATION,427.0,NaN,NaN
941,71761.0,TRINITY CENTER ELEMENTARY,14.0,NaN,NaN
951,66415.0,TWIN RIDGES ELEMENTARY,95.0,NaN,NaN
957,65516.0,UNION JOINT ELEMENTARY,12.0,NaN,NaN
974,69344.0,VISTA DEL MAR UNION,98.0,NaN,NaN
978,75416.0,WARNER UNIFIED,1733.0,NaN,NaN
1005,70169.0,WHITMORE UNION ELEMENTARY,216.0,NaN,NaN
1011,70490.0,WILLOW CREEK ELEMENTARY,39.0,NaN,NaN
1012,67579.0,WILLOW GROVE UNION ELEMENTARY,19.0,NaN,NaN
1033,10207.0,NaN,NaN,422.0,NaN
1034,10363.0,NaN,NaN,834.0,NaN
1035,10405.0,NaN,NaN,279.0,NaN
1036,31617.0,NaN,NaN,74.0,NaN
1037,31625.0,NaN,NaN,48.0,NaN
1038,32276.0,NaN,NaN,117.0,NaN
1039,61945.0,NaN,NaN,278.0,NaN
1040,62976.0,NaN,NaN,570.0,NaN
1041,63990.0,NaN,NaN,1828.0,NaN
1042,67785.0,NaN,NaN,3235.0,NaN
1043,67827.0,NaN,NaN,2509.0,NaN
1044,68189.0,NaN,NaN,5827.0,NaN
1045,68544.0,NaN,NaN,3128.0,NaN
1046,68916.0,NaN,NaN,8039.0,NaN
1047,71944.0,NaN,NaN,193.0,NaN
1048,71985.0,NaN,NaN,471.0,NaN
1049,72512.0,NaN,NaN,3239.0,NaN
1050,72694.0,NaN,NaN,8168.0,NaN
1051,75259.0,NaN,NaN,1173.0,NaN
1052,76885.0,NaN,NaN,399.0,NaN

In [15]:
enrolled_and_tested.to_csv("enrolled_and_tested.csv")